RewriteEngine on

# Note: It’s also recommended to enable HTTP Strict Transport Security (HSTS)
# on your HTTPS website to help prevent man-in-the-middle attacks.
# See https://developer.mozilla.org/en-US/docs/Web/Security/HTTP_strict_transport_security
<IfModule mod_headers.c>
    # Remove "includeSubDomains" if you don't want to enforce HSTS on all subdomains
    Header always set Strict-Transport-Security "max-age=31536000;includeSubDomains"
</IfModule>

<IfModule mod_deflate.c>

    # Force compression for mangled headers.
    # https://developer.yahoo.com/blogs/ydn/pushing-beyond-gzipping-25601.html
    <IfModule mod_setenvif.c>
        <IfModule mod_headers.c>
            SetEnvIfNoCase ^(Accept-EncodXng|X-cept-Encoding|X{15}|~{15}|-{15})$ ^((gzip|deflate)\s*,?\s*)+|[X~-]{4,13}$ HAVE_Accept-Encoding
            RequestHeader append Accept-Encoding "gzip,deflate" env=HAVE_Accept-Encoding
        </IfModule>
    </IfModule>

    # Compress all output labeled with one of the following MIME-types
    # (for Apache versions below 2.3.7, you don't need to enable `mod_filter`
    #  and can remove the `<IfModule mod_filter.c>` and `</IfModule>` lines
    #  as `AddOutputFilterByType` is still in the core directives).
    <IfModule mod_filter.c>
        AddOutputFilterByType DEFLATE application/atom+xml \
                                      application/javascript \
                                      application/json \
                                      application/rss+xml \
                                      application/vnd.ms-fontobject \
                                      application/x-font-ttf \
                                      application/x-web-app-manifest+json \
                                      application/xhtml+xml \
                                      application/xml \
                                      font/opentype \
                                      image/svg+xml \
                                      image/x-icon \
                                      text/css \
                                      text/html \
                                      text/plain \
                                      text/x-component \
                                      text/xml
    </IfModule>

</IfModule>

<IfModule mod_expires.c>
  ExpiresActive On

 # Images
  ExpiresByType image/jpeg "access plus 1 year"
  ExpiresByType image/gif "access plus 1 year"
  ExpiresByType image/png "access plus 1 year"
  ExpiresByType image/webp "access plus 1 year"
  ExpiresByType image/svg+xml "access plus 1 year"
  ExpiresByType image/x-icon "access plus 1 year"

  # Video
  ExpiresByType video/webm "access plus 1 year"
  ExpiresByType video/mp4 "access plus 1 year"
  ExpiresByType video/mpeg "access plus 1 year"

  # Fonts
  ExpiresByType font/ttf "access plus 1 year"
  ExpiresByType font/otf "access plus 1 year"
  ExpiresByType font/woff "access plus 1 year"
  ExpiresByType font/woff2 "access plus 1 year"
  ExpiresByType application/font-woff "access plus 1 year"

  # CSS, JavaScript
  ExpiresByType text/css "access plus 1 year"
  ExpiresByType text/javascript "access plus 1 year"
  ExpiresByType application/javascript "access plus 1 year"

  # Others
  ExpiresByType application/pdf "access plus 1 year"
  ExpiresByType image/vnd.microsoft.icon "access plus 1 year"
</IfModule>

<IfModule mod_headers.c>
    Header unset ETag
</IfModule>
FileETag None

ErrorDocument 500 /501/index.html
ErrorDocument 401 /401/index.html
ErrorDocument 404 /404/index.html

# Use UTF-8 encoding for anything served text/plain or text/html
AddDefaultCharset utf-8

# Force UTF-8 for a number of file formats
AddCharset utf-8 .atom .css .js .json .rss .vtt .xml

RewriteEngine On
RewriteCond %{HTTP_ACCEPT} image/webp
RewriteCond %{DOCUMENT_ROOT}/$1.webp -f
RewriteRule (.+)\.(jpe?g|png)$ $1.webp [T=image/webp,E=accept:1]


Redirect 301 /benefits-of-hiring-an-seo-company/ /
Redirect 301 /cannabis-seo-in-massachusetts-ma/ /
Redirect 301 /cannabis-seo-in-new-york-ny/ / 
Redirect 301 /cannabis-seo-in-vermont-vt/ /
Redirect 301 /cannabis-seo-in-oklahoma-ok/ /
Redirect 301 /cannabis-seo-in-new-jersey-nj/ /
Redirect 301 /cannabis-seo-in-montana-mt/ /
Redirect 301 /cannabis-seo-in-illinois-il/ / 
Redirect 301 /cannabis-seo-in-hawaii-hi/ /
Redirect 301 /cannabis-seo-in-colorado-co/ /
Redirect 301 /cannabis-seo-in-california-ca/ /
Redirect 301 /cannabis-seo-in-michigan-mi/ /
Redirect 301 /cannabis-seo-in-nevada-nv/ /
Redirect 301 /cannabis-seo-in-oregon-or/ /
Redirect 301 /cannabis-seo-in-texas-tx/ /
Redirect 301 /cannabis-seo-in-ohio-oh/ /
Redirect 301 /cannabis-seo-in-florida-fl/ /
Redirect 301 /cannabis-seo-in-alaska-ak/ /
Redirect 301 /cannabis-seo-in-arizona-az/ /
Redirect 301 /cannabis-seo-in-washington-wa/ /
Redirect 301 /chicago-seo-company-increase-organic-traffic-by-200-percent/ /
Redirect 301 /why-local-businesses-prefer-a-local-seo-agency/ /
Redirect 301 /demystifying-search-intent-with-professional-seo-services/ /
Redirect 301 /website-design-services-and-vr-integration/ /
Redirect 301 /8-reasons-dallas-seo-company-is-the-best-seo-affiliate/ /
Redirect 301 /8-ai-powered-strategies-by-atlanta-seo-company/ /
Redirect 301 /why-your-business-needs-texas-seo-company/ /
Redirect 301 /9-secrets-of-top-website-design-company-success/ /
Redirect 301 /7-ways-to-enhance-website-design-services/ /
Redirect 301 /6-website-design-tools-for-web-designers/ /
Redirect 301 /6-things-to-expect-from-website-design-service-provider/ /
Redirect 301 /7-advantages-of-hiring-seo-agency-vs-doing-seo-yourself/ /
Redirect 301 /technical-seo-services-guide/ /
Redirect 301 /top-rated-seo-services-cost/ /
Redirect 301 /7-secrets-to-dominate-your-industry-by-hiring-an-seo-agency/ /
Redirect 301 /ai-powered-keyword-research-to-increase-website-traffic/ /
Redirect 301 /benefits-of-hiring-seo-service-provider-for-your-business/ /
Redirect 301 /the-importance-of-hiring-seo-service-provider/ /
Redirect 301 /5-off-page-seo-practices-for-service-providers/ /
Redirect 301 /is-it-worth-hiring-an-seo-company-houston/ /
Redirect 301 /what-to-expect-from-professional-seo-company/ /
Redirect 301 /winning-strategy-of-california-seo-company/ /
Redirect 301 /20-traits-of-a-small-business-seo-company/ /
Redirect 301 /boost-online-presence-with-seo-company-new-york-city/ /
Redirect 301 /overcome-local-seo-challenges/ /
Redirect 301 /improve-local-ranking-with-the-best-local-seo-services/ /
Redirect 301 /10-skills-every-seo-specialist-should-have/ /
Redirect 301 /weekly-breakdown-of-professional-seo-services/ /
Redirect 301 /10-top-rated-seo-services-trends/ /
Redirect 301 /top-rated-seo-communication-tips/ /
Redirect 301 /voice-search-optimization-insights-by-best-seo-agency/ /
Redirect 301 /boost-organic-traffic-with-new-york-seo-company/ /
Redirect 301 /boost-ecommerce-business-with-website-design-services/ /
Redirect 301 /professional-seo-services-for-business-success/ /
Redirect 301 /dos-and-don'ts-of-hiring-a-professional-seo-services/ /
Redirect 301 /5-controversial-strategies-of-the-best-seo-services-company/ /
Redirect 301 /best-seo-agency-decodes-ranking-factors/ /
Redirect 301 /navigating-seo-challenges-with-best-seo-agency/ /
Redirect 301 /ai-powered-website-design-services/ /
Redirect 301 /how-website-design-agency-reduces-bounce-rate/ /
Redirect 301 /cannabis-seo-services-for-modern-dispensaries/ /
Redirect 301 /top-website-design-company-ar-vr-innovations/ /
Redirect 301 /mobile-ecommerce-website-design-trends/ /
Redirect 301 /9-common-mistakes-to-avoid-with-professional-seo-services/ /
Redirect 301 /7-reasons-to-hire-professional-seo-services-for-startup/ /
Redirect 301 /6-ai-elements-for-ecommerce-website-design/ /
Redirect 301 /5-seo-secrets-revealed-by-best-seo-services-company/ /
Redirect 301 /google-rolls-out-october-2023-spam-update/ /
Redirect 301 /15-innovative-approaches-for-local-seo-agency/ /
Redirect 301 /30-signs-to-invest-in-a-local-seo-agency/ /
Redirect 301 /cannabis-seo-tips-for-marijuana-cbd-companies/ /
Redirect 301 /role-of-the-best-local-seo-services-in-digital-marketing/ /
Redirect 301 /qualities-of-the-best-local-seo-services/ /
Redirect 301 /boost-your-local-seo-with-google-business-profile/ /
Redirect 301 /local-seo-services-trends/ /
Redirect 301 /key-elements-of-a-successful-local-seo-campaign/ /
Redirect 301 /local-seo-services-cost-vs-value/ /
Redirect 301 /local-seo-services-checklist/ /
Redirect 301 /6-key-strategies-from-the-best-seo-service-providers/ /
Redirect 301 /on-page-seo-tactics/ /
Redirect 301 /role-of-technical-seo-in-nationwide-seo-agency-success/ /
Redirect 301 /top-link-building-strategies-by-nationwide-seo-agency/ /
Redirect 301 /optimize-google-business-profile-with-nationwide-seo-agency/ /
Redirect 301 /why-top-brands-are-choosing-nationwide-seo-agency/ /
Redirect 301 /what-is-a-nationwide-seo-agency/ /
Redirect 301 /dos-and-donts-of-working-with-a-nationwide-seo-agency/ /
Redirect 301 /google-sites-seo/ /
Redirect 301 /top-10-traits-of-the-best-seo-agency/ /
Redirect 301 /10-red-flags-to-avoid-when-hiring-the-best-seo-agency/ /
Redirect 301 /how-to-choose-the-best-seo-agency/ /
Redirect 301 /boost-your-cbd-business-with-cbd-seo-agency/ /
Redirect 301 /drive-business-growth-by-choosing-the-right-cbd-seo-agency/ /
Redirect 301 /7-factors-to-know-before-hiring-a-cbd-seo-agency/ /
Redirect 301 /11-tips-by-a-cbd-seo-agency-to-skyrocket-cbd-product-sales/ /
Redirect 301 /benefits-of-hiring-a-nationwide-seo-agency/ /
Redirect 301 /dominate-nationwide-seo-with-seo-results-pro/ /
Redirect 301 /how-a-nationwide-seo-agency-improves-online-search-visibility/ /
Redirect 301 /tips-for-hiring-the-best-nationwide-seo-agency/ /
Redirect 301 /recap-of-google-2023-updates/ /
Redirect 301 /9-seo-solutions-provided-by-top-rated-seo-company/ /
Redirect 301 /hire-website-design-agency/ /
Redirect 301 /professional-search-engine-optimization-services/ /
Redirect 301 /top-rated-seo/ /
Redirect 301 /top-seo-service-provider/ /
Redirect 301 /cannabis-cbd-seo/ /
Redirect 301 /arlington-seo-company/ /
Redirect 301 /las-vegas-seo-company/ /
Redirect 301 /hire-nationwide-seo-services/ /
Redirect 301 /los-angeles-seo-company/ /
Redirect 301 /florida-seo-company/ /
Redirect 301 /new-york-seo-agency/ /
Redirect 301 /texas-seo-agency/ /
Redirect 301 /7-seo-strategies-used-by-cbd-seo-services-agency/ /
Redirect 301 /10-things-to-consider-when-hiring-an-seo-service-provider/ /
Redirect 301 /10-benefits-of-professional-seo-services/ /
Redirect 301 /hire-cbd-seo-agency/ /
Redirect 301 /austin-seo-services-provider/ /
Redirect 301 /how-an-seo-service-provider-utilizes-artificial-intelligence/ /
Redirect 301 /7-reasons-your-business-needs-an-seo-services-provider/ /
Redirect 301 /why-hiring-a-small-business-seo-company-is-essential-for-growth/ /
Redirect 301 /3-reasons-why-you-will-love-our-seo-services-reviews/ /
Redirect 301 /4-reasons-why-best-seo-services-for-small-businesses-is-a-necessity/ /
Redirect 301 /how-to-rank-by-the-white-hat-seo-rules-website-seo-services-insights/ /
Redirect 301 /on-page-seo-optimization-tips-by-an-seo-agency-new-york-city/ /
Redirect 301 /worth-every-penny-the-ultimate-guide-to-affordable-small-business-seo-services/ /
Redirect 301 /what-is-xml-sitemap-and-why-seo-agency-services-consider-it-important-for-seo/ /
Redirect 301 /how-seo-services-expert-incorporates-off-page-seo-ranking-factors/ /
Redirect 301 /how-an-seo-agency-for-cbd-industry-obtains-quality-cannabis-backlinks/ /
Redirect 301 /the-definitive-guide-to-website-audit-by-seo-services-providers/ /


# Redirect 301 /seo-services https://seoresultspro.com/best-seo-services-provider
Redirect 301 /cannabis-seo-services-for-moden-dispensaries https://seoresultspro.com/cannabis-seo-services-for-modern-dispensaries
Redirect 301 /website-design https://seoresultspro.com/website-design-agency
Redirect 301 /best-seo-services-provider/best-seo-services-provider/ /best-seo-services-provider
Redirect 301 /qualities-of-the-best-local-seo-services/qualities-of-the-best-local-seo-services/ /qualities-of-the-best-local-seo-services/
Redirect     /what-is-xml-sitemap-&-why-its-important-for-seo-services /what-is-xml-sitemap-and-why-seo-agency-services-consider-it-important-for-seo
Redirect 301 /best-seo-services-provider/https://seoresultspro.com/best-seo-services-provider/ /best-seo-services-provider
RewriteCond %{HTTP_HOST} ^seoresultspro\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.seoresultspro\.com$


<Files 403.shtml>
order allow,deny
allow from all
</Files>

deny from 90.39.169.48

# php -- BEGIN cPanel-generated handler, do not edit
# Set the “ea-php80” package as the default “PHP” programming language.
<IfModule mime_module>
  AddHandler application/x-httpd-ea-php80 .php .php8 .phtml
</IfModule>
# php -- END cPanel-generated handler, do not edit
