.blog-banner h1,
.fnt-70 {
    font-size: 70px;
    line-height: 65px
}

.blog-post,
.pt-mt {
    margin-top: 70px
}

body,
html,
section {
    overflow-y: inherit !important;
    overflow-x: inherit !important
}

a {
    font-family: Montserrat, sans-serif;
    text-decoration: none;
    color: #8996cf !important
}

.blog-banner h1,
.f-h2,
.font-secondary,
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: "Coolvetica Regular", sans-serif
}

.fw-500 {
    font-weight: 500
}

:root {
    --bg-gradient: linear-gradient(83deg, #a04aaa 0, #597bea 100%);
    --ftgray: #c1c1c130
}

.text-black {
    color: #000
}

.blog-banner {
    background-image: url("https://imagedelivery.net/nJwaBs__P2JfMUeYJ4vmjQ/34bc50fe-d010-45b4-fec2-d97e1b884500/public");
    background-size: cover;
    background-repeat: no-repeat;
    height: 400px
}

ul {
    list-style: none;
    padding: 0;
    margin: 0
}

.blog-content,
.pt-130 {
    padding-top: 130px
}

.blog-banner h1 {
    font-weight: 400;
    padding-top: 203px;
    text-align: center;
    color: #fff;
    letter-spacing: 2px
}

.font-22 {
    font-size: 22px;
    line-height: 20px
}

.post-btn {
    background: linear-gradient(83deg, #a04aaa 0, #597bea 100%);
    padding: 10px 30px;
    color: #ffff !important;
    font-weight: 600
}

.post-btn:hover {
    cursor: pointer;
    background: linear-gradient(83deg, #597bea 0, #a04aaa 100%);
    color: #fff
}

.post-content h3 {
    font-size: 20px;
    font-weight: 400;
    line-height: 23px;
    color: #000000c2
}

.bg-grey {
    background-color: var(--ftgray)
}

.pt-mt {
    padding: 60px 0
}

.text-grey {
    color: gray
}

.fnt-18 {
    font-size: 17px
}

.rightSide-content ul li p {
    font-size: 16px;
    font-weight: 500;
    color: #646363
}

.rightSide-content ul li>a {
    color: #646363
}

.post-form>.getInT-sideform {
    background-color: transparent
}

.side-form {
    position: sticky;
    top: 10%
}

.post-form .formInnerCont {
    width: 90%;
    margin: auto;
    padding: 30px 0 !important
}

.form-p {
    padding: 60px 0 !important
}

.post-form input,
.post-form textarea {
    border: inherit;
    background-color: transparent;
    border-bottom: 1px solid #0000009e;
    border-radius: 0;
    resize: none
}

.post-form input:focus,
.post-form textarea:focus {
    box-shadow: none;
    background-color: transparent;
    border-bottom: 1px solid #0000009e;
    outline: 0
}

.fnt-40 {
    font-size: 40px
}

@media screen and (max-width:576px) {

    .fnt-40,
    .fnt-70 {
        font-size: 26px
    }

    .fnt-18 {
        font-size: 14px
    }

    .blog-banner {
        height: 250px
    }

    .blog-banner h1 {
        font-size: 30px;
        padding-top: 130px
    }

    .blog-content {
        padding-top: 110px
    }
}

.f-h2,
h2 {
    font-size: 1.5rem;
    color: #000
}

.rightside-form {
    padding: 20px;
    margin-top: 20px;
    min-height: 200px;
    overflow: auto
}

.blog-post h3 a,
header nav ul li a {
    color: #000 !important
}

.absolute {
    position: absolute !important
}

.bg-cta {
    background: linear-gradient(83deg, #a04aaa 0, #597bea 100%);
    padding: 10px 30px;
    border-radius: 5px
}