#package,
.before-underline,
.relative,
.ullist li,
.wrapper-10,
.wrapper-11,
.wrapper-13,
.wrapper-15,
.wrapper-2,
.wrapper-3,
.wrapper-4,
.wrapper-5,
.wrapper-6,
.wrapper-8,
.wrapper-9 {
    position: relative
}

.bigsale,
.pkg-box {
    position: absolute
}

.before-underline {
    height: 1px;
    background: #fff;
    width: 50%;
    top: -7px
}

.scroll-box {
    padding-left: 0 !important
}

.ul-pkg li,
.ul-pkg1 li {
    line-height: 1.8em
}

.calltoaction ul li,
.sticky li,
.ul-none,
.ul-pkg,
.ul-pkg1 li {
    list-style-type: none
}

.btn-primary2 {
    font-size: 14px;
    padding: 12px 40px !important;
    border-radius: 0;
    background-color: #fff;
    border: 1px solid transparent !important;
    color: #000;
    font-weight: 600;
    transition: 1s
}

.btn-primary2:hover {
    background: #000;
    color: #fff
}

.gredient-1 {
    background-image: var(--gredient-1)
}

.gredient-2 {
    background-image: var(--gredient-2)
}

.box-shadow-h:hover {
    box-shadow: 0 5px 15px rgba(0, 0, 0, .3);
    border-radius: 20px
}

.gredient-1 {
    background: var(--gredient-color1)
}

.gredient-2 {
    background: var(--gredient-color3)
}

.border-o {
    border: 0
}

.border-radius-20 {
    border-radius: 20px
}

.pkg-box {
    content: "";
    right: 10px;
    background-image: url(../img/pkg-box.svg);
    width: 120px;
    height: 104px;
    top: 10px
}

.call-box {
    height: 200px;
    border-radius: 15px;
    border: 2px solid #fff;
    width: 186px
}

.scroll-box {
    height: 200px;
    padding-right: 20px;
    text-align: left;
    overflow-y: scroll;
    border-radius: 20px
}

.text-red,
.txt-red {
    color: #ee2d2d
}

.line-through {
    text-decoration: line-through
}

ul.ul-pkg1 {
    list-style: none;
    left: 0;
    padding-left: 0
}

.scroll-box::-webkit-scrollbar {
    width: 5px;
    border-radius: 20px
}

.scroll-box::-webkit-scrollbar-track {
    background-color: #fff;
    border-radius: 20px
}

.scroll-box::-webkit-scrollbar-thumb {
    box-shadow: inset 0 0 20px rgba(55, 55, 55, .3);
    border-radius: 20px
}

.backgr {
    background: #00a9ce;
    background: radial-gradient(circle, #597bea 0, #a04aaa 70%);
    color: #fff;
    border-radius: 28px;
    box-shadow: 0 0 30px 0 #bbb;
    padding: 30px
}

.ullist li {
    list-style: none;
    color: #fff;
    font-size: 15px;
    line-height: 24px;
    padding-left: 20px;
}

.ullist li::before {
    content: "✔";
    position: absolute;
    left: -0px;
    width: 50px;
    height: 40px;
    margin-top: 0;
    color: #fff
}

.fcolor {
    color: #ffd046;
    text-transform: capitalize
}

.hrclass {
    border: 1px solid #fff
}

.borderbottom {
    border-bottom: 1px solid #b0b0b0
}

.bigsale {
    top: -40px;
    height: 402px;
    right: 128px
}

.bgsales {
    background-image: url(../images/newimg/order1.svg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    width: 273px;
    height: 198px;
    padding: 19px
}

.bgsales .btn-primary2 {
    font-size: 14px;
    border-radius: 0;
    background-color: #a04aaa;
    border: 1px solid transparent !important;
    color: #fff;
    text-transform: uppercase;
    line-height: 1em
}

.bgsales .btn-primary2:hover {
    background: #000
}

.borderbottom::before {
    background: #ddd;
    content: "";
    position: relative;
    bottom: 10px
}

.toasNotification {
    border: 3px solid var(--forth-color);
    background-color: var(--yellow-color);
    border-radius: 50px;
    padding: 4px;
    color: var(--forth-color);
    box-shadow: 0 0 26px 0 #df3b3b
}

.toasNotification .innerborder {
    border-radius: 50px;
    width: 100%;
    background-color: var(--yellow-color)
}

.innerborder {
    display: inline-flex;
    justify-content: space-around;
    align-items: center
}

#toasNotification1 {
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: .5rem;
    white-space: nowrap
}

.toasNotification .btn-primary {
    background: var(--third-color);
    color: var(--white-color);
    padding: 7px 39px;
    border-radius: 50px;
    border: 0;
    transition: 1s;
    width: auto;
    font-weight: 700
}

.lineheight {
    line-height: .9em
}

.text-th {
    color: red;
    font-weight: 700
}

.flexitems {
    display: flex;
    justify-content: space-between
}

.txtyellow {
    color: #f3bc18;
    font-size: 20px
}

.txt-only {
    font-size: 20px;
    font-weight: 400
}